env:
  node:  true

plugins:
  - nodeca

extends:
  eslint:recommended

rules:
  # string can exceed 80 chars, but should not overflow github website :)
  max-len:              [ 2, 120, 1000 ]

  #
  # Our custom rules
  #
  nodeca/indent:                [ 2, spaces, 2 ]
